.news {
  .news__head {
    position: relative;
    width: 100%;
    height: 300px;

    .news__img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    .text {
      background-color: transparentize($dark, 0.2);
      color: $light;
      position: absolute;
      top: 30%;
      left: 10%;
      padding: $l;
      h2 {
        font-size: $xl;
        padding: $s 0;
      }
    }
  }

  .news__content {
    padding: $xl 10%;
    h4 {
      font-size: $l;
      padding: $s 0;
    }
    p {
      padding: $s 0;
    }
  }
}

@media (min-width: 1000px) {
  .news {
    .news__head {
      .news__img {
      }
    }
    .news__content {
      padding: $xl 25%;
    }
  }
}
